<div class="container">

  <section>
    <h2>Cursos</h2>

    <div class="menuCurso">
      <button>Novo Curso</button>
      <button (click)="onRefresh()">Atualizar</button>
    </div>
  </section>



  @if (cursos$ | async; as novo;){
    <table>
      <thead>
        <th>#</th>
        <th>Curso</th>
        <th>Actions</th>
      </thead>

      <tbody>
        @for (item of novo; track item) {
        <tr>
          <td>{{ item.nome}}</td>
          <td>{{ item.preco}}</td>

          <td>
            <span class="action">
              <button>Editar</button>
              <button>Remover</button>
            </span>
          </td>
        </tr>
        }
      </tbody>
    </table>

    } @else if (erro){
    <div>Erro ao carregar cursos</div>

    } @else {
    <span> Carregando cursos </span>
    }

</div>

