.container {
  width: max-content;
  min-width: 500px;
  display: grid;
}

table,
td,
thead {
  border: 1px solid rgb(45, 186, 221);
  padding: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-collapse: collapse;
  text-align: center;
}

thead {
  th {
    border: 1px solid rgb(45, 186, 221);
    padding: 10px;
    color: rgb(19, 233, 248);
    font-size: 18px;
    font-weight: 800;
  }
}

.action {
  display: flex;
  gap: 20px;
  justify-content: center;
 }

button {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid rgb(211, 190, 190);

  &:active {
    background-color: rgb(7, 6, 6);
    border: 2px solid rgb(168, 219, 25);
    color: white;
  }
}






section {
  display: flex;
  padding: 10px 0;


  h2 {
    width: 50%;
    align-self: center;
  }

  .menuCurso {
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 50%;

    button {
      padding: 8px;
      color: white;
      background-color: cadetblue;
    }
  }
}

