:host {
  display: block;
}

form {
  border: 1px solid rgb(209, 207, 207);
  padding: 15px;
  width: 18%;
  display: flex;
  gap: 20px;
  flex-direction: column;

  h1 {
    width: 100%;
    margin: 0;
  }

  div {
    input {
      width: 100%;
      padding: 5px;
      border-radius: 3px;

    }
  }
}

.actions {
  display: flex;
  justify-content: space-around;

  button {
    background-color: rgb(17, 17, 15);
    color: white;
    border: 1px solid white;
    padding: 8px;
    &:active {
      border: 1px solid rgb(49, 238, 49);
    }
  }
}

.error {
  border: 1px solid red;
}
