<form class="form" [formGroup]="cursoForm" (ngSubmit)="onSubmit()">

  <h1>Cadastrar Curso</h1>
  <div>
    <label for="nome">Nome</label>
    <input
      id="nome"
      type="text"
      formControlName="nome"
      [ngClass]="addClassError('nome')"
    />
    @if (verificValidAndTouched('nome')) {
    <div class="">Informe o nome do curso</div>
    }
  </div>

  <div>
    <label for="preco">Preço</label>
    <input
      id="preco"
      type="text"
      formControlName="preco"
      [ngClass]="addClassError('preco')"
    />
    @if (verificValidAndTouched('preco')) {
    <div class="">Informe o nome do curso</div>
    }
  </div>

  <div class="actions">
    <button type="submit">Salvar</button>

    <button (click)="onCancel()">Cancelar</button>
  </div>
</form>
