/* You can add global styles to this file, and also import other style files */
@use 'normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


// variável global
$fontFamily: "Raleway", sans-serif;



*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    font-family: $fontFamily;
}
